html,
body {
    text-align: center;
    background-color: #e6b31e;
    color: #343434;
    min-width: 320px;
}

#form-outer {
    background-color: #fcfaf1;
    font-family: Inconsolata, monospace;
    width: 55%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}

.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    margin-top: 10px;
    vertical-align: top;
}

.inputs {
    display: inline-block;
    text-align: left;
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    vertical-align: middle;
}

.input-field {
    height: 20px;
    width: 150px;
    padding: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}

#comments {
    height: 50px;
}

.userRatings {
    display: block;
}

#submit {
    height: 30px;
    width: 70px;
    margin-top: 10px;
    background-color: #F2D788;
    border-radius: 10px;
    font-family: Inconsolata, monospace;
    color: #686827;
}

@media (max-width:520px) {
    #form-outer {
        overflow: auto;
        width: 70%;
    }
    .labels {
        width: 100%;
        text-align: left;
    }
    .inputs {
        width: 85%;
        float: left;
    }
    .input-field {
        width: 100%;
    }
}

@media (max-width:632px) {
    #form-outer {
        width: 70%;
    }
}